#lightbox {
	padding: 10px;
	display: none;
}

#lightbox img {
	background-color: transparent;
	border: none;
	clear: both;
}

#lightboxText {
	color: white;
	width: auto;
}

#overlay img {
	border: none;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 500px;
	/* background-image: url(images/overlay.png); */
	background-color: #000;
	filter: alpha(opacity=80);
	opacity: .8;
}

/* * html #overlay{
	background-image: url(blank.gif);
	background-color: #000;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/overlay.png", sizingMethod="scale");
}*/

body {
	margin: 0;
	padding: 0;
}

.imgContent {
	font-family: Arial;
	float: left;
	min-width: 55%;
	width: 55%;
}

.imgTitle {
	background: transparent none repeat scroll 0%;
	border-bottom: 1px solid #aaa;
	color: #000;
	font-weight: normal !important;
	margin: 0 0 15px 0 !important;
	padding-bottom: 0.17em;
	padding-top: 0.5em;
	font-size: 188% !important;
}

.imgCaption {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.imgContainer {
	vertical-align: top;
	float: left;
	margin: 0 20px 0 0;
	/*min-width: 200px;*/
}

.imageOne, .imageTwo {
	text-align: center;
	border: 1px solid #dcdcdc;
	padding: 4px 0;
}

.utilityButtons {
	clear: both;
	font-size: 12px;
	margin: 10px 0 0 0;
}

.utilityButtons a {
	text-decoration: none;
}

.utilityButtons img {
	vertical-align: middle;
}

.voteStats {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 0 0;
}

.voteStats img {
	vertical-align: middle;
}

.voteStats h1 {
	border-bottom: 0;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 10px 0 !important;
}

.vote-thumbnail img {
	border: 1px solid #dcdcdc;
	padding: 3px;
}

.vote-percent {
	margin: 0 10px;
}

.vote-bar {
	margin: 0 0 10px 0;
	vertical-align: middle;
}

.vote-red img {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #f0b4ab;
}

.vote-blue img {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #82c3ff;
}

.create-link a {
	text-decoration: none;
}

.create-link img {
	vertical-align: middle;
	margin: -1px 2px 0 0;
}

.credit-box {
	border: 1px solid #dcdcdc;
	padding: 10px;
	background-color: #f2f4f7;
	margin: 8px 0 0 0;
}

.credit-box h1 {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	border-bottom: none;
	padding: 0 !important;
	margin: 0 0 10px 0 !important;
}

.other-info {
	float: right;
	width: 30%;
}

.submitted-by-image {
	float: left;
	width: 60px;
}

.submitted-by-image img {
	border: 1px solid #dcdcdc;
}

.submitted-by-user {
	float: left;
}

.submitted-by-user ul {
	list-style: none;
	padding: 0px;
	margin: 3px 0 0 0;
}

.submitted-by-user li {
	float: left;
	margin: 0 6px 0 0;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}

.submitted-by-user img {
	vertical-align: middle;
	margin: 0 1px 0 0;
}

.submitted-by-user a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.edit-button-pic-game {
	background-color: #fffca9;
	border: 1px solid #fdc745;
	padding: 5px 0px 5px 5px;
	width: 90px;
}

.edit-button-pic-game a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

.edit-button-pic-game img {
	margin: -5px 3px 0 0;
	vertical-align: middle;
}

.edit-menu-pic-game {
	float: right;
	margin: -5px 0 0 10px;
	position: relative;
}

.pic-game-navigation {
	padding: 15px 0 0 0;
}

.pic-game-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pic-game-navigation li {
	float: left;
	margin: 0 20px 0 0;
}

.pic-game-navigation a {
	font-size: 14px;
	font-weight: bold;
	line-height: 105%;
}
